<div class="card overflow-auto" fxLayout="column">
    <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none">
            <span *ngIf="selection.isEmpty()">Ingresos de inventario</span>
            <span *ngIf="selection.hasValue()">{{ selection.selected.length }}
                <span *ngIf="selection.selected.length > 1">registros seleccionado</span><span
                        *ngIf="selection.selected.length == 1"> registro seleccionado</span></span>
        </h2>

        <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r" fxFlex="none">
            <button (click)="openDialog(selection.selected)"
                    color="primary"
                    mat-icon-button
                    matTooltip="Borrar seleccionados"
                    type="button">
                <mat-icon [icIcon]="icDelete"></mat-icon>
            </button>
        </div>

        <span fxFlex></span>

        <button [matMenuTriggerFor]="columnFilterMenu"
                class="ml-4"
                fxFlex="none"
                mat-icon-button
                matTooltip="Filtrar Columnas"
                type="button">
            <mat-icon [icIcon]="icFilterList"></mat-icon>
        </button>

        <button (click)="createIngresos()"
                class="ml-4"
                color="primary"
                fxFlex="none"
                mat-mini-fab
                matTooltip="Agregar ingreso"
                type="button">
            <mat-icon [icIcon]="icAdd"></mat-icon>
        </button>
    </div>

    <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
            <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              color="primary">
                </mat-checkbox>
            </th>
            <td *matCellDef="let row" class="w-4" mat-cell>
                <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                              (click)="$event.stopPropagation()"
                              [checked]="selection.isSelected(row)"
                              color="primary">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Text Columns -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
            <ng-container *ngIf="column.type === 'text' && column.property !== 'fechaNacimiento'" [matColumnDef]="column.property">
                <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
            </ng-container>
            <ng-container *ngIf="column.property === 'fechaNacimiento'" [matColumnDef]="column.property">
                <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>

                </td>
            </ng-container>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                <button (click)="$event.stopPropagation() "
                        [matMenuTriggerData]="{ aspecto: row }"
                        [matMenuTriggerFor]="actionsMenu"
                        mat-icon-button
                        type="button">
                    <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr (click)="updateIngreso(row)"
            *matRowDef="let row; columns: visibleColumns;"
            @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer"
            mat-row></tr>
    </table>
    <div *ngIf="dataSource.filteredData.length === 0"
         @scaleFadeIn
         fxFlex="auto"
         fxLayout="column"
         fxLayoutAlign="center center">
        <img class="m-12 h-32" src="assets/img/illustrations/no_file.svg">
        <h3 class="headline m-0 text-center">Aún no se han ingresado registros</h3>
    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
</div>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
            class="checkbox-item mat-menu-item">
        <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
            {{ column.label }}
        </mat-checkbox>
    </button>
</mat-menu>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-ingreso="ingreso" matMenuContent>
        <button (click)="updateIngreso(ingreso)" mat-menu-item>
            <mat-icon [icIcon]="icEdit"></mat-icon>
            <span>Modificar</span>
        </button>
        <button (click)="openDialog(ingreso)" mat-menu-item>
            <mat-icon [icIcon]="icDelete"></mat-icon>
            <span>Eliminar</span>
        </button>
    </ng-template>
</mat-menu>

